@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap'); */
/* font-family: 'Rochester', cursive; */

/* @import url('https://fonts.googleapis.com/css2?family=Oregano&display=swap'); */
/* font-family: 'Oregano', cursive;   */

/* @import url('https://fonts.googleapis.com/css2?family=Elsie:wght@900&display=swap');
font-family: 'Elsie', serif; */

@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap');

*{
    font-family: 'Livvic', sans-serif;
}

body{
    background-color: #F2EDDB;
    /* background-image: url(background.svg);
    background-size: cover;
    
    background-repeat: no-repeat; */
}



#ht_wb{
    font-family: 'Euphoria Script', cursive;
    letter-spacing: 3px;
    text-align: center;
    font-size: 50px;
    color: #6C3428;

}



.list{
    display: flex;
    justify-content: center;
}


.website{
    border-radius: 40px;;
    width: 280px;
    height: 320px;
    background-color: #DBDFAA;
}

.ws_container{
    display: grid;
    grid-template-rows: 0.3fr 3.2fr 1.7fr;
    grid-template-columns: 5% 90% 5%;
    grid-template-areas:
        ". title ."
        ". pic ."
        ". guide .";
    /* row-gap: 3px; */
    position: absolute;
    
}


.title{
    grid-area: title;
    font-family: 'PT Serif', serif;
    text-align: center;
    font-size: 32px;
    letter-spacing: 2px;
    color: #557A46;
    margin-top: 18px;

    
}

img{
    /* border: 5px solid white; */
    grid-area: pic;
    width: 230px;
    height: 170px;
    border-radius: 15px;
    /* 置中 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);

}

.guide{
    grid-area: guide;
    display: flex;
    justify-content: space-around;
    align-items: center;

    /* display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-areas:
        "about link";
    column-gap: 5px; */

    
}

.about{
    grid-area: about;
    

}

.link{
    grid-area: link;

}

.bw{
    /* margin: 10px; */
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
    
    font-size: 135%;
    font-weight: 500;
 
    /* background-color: #A2C579; */
    /* color: #FEFAE0; */

    background-color: #B8BD78;
    /* background-color: #A7D397; */
    color: #FCFDF1;
    
}

.bw:hover{
    background-color: #FEFAE0;
    /* color: #A2C579; */
    color: #989E4F;
    
}
.bw:active{
    /* color: #6C3428; */
    background-color: #557A46;
    color: #FCFDF1;
    
}


