@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

*{
    font-family: 'Open Sans', sans-serif;    
}

body{
    background-color: #F2EDDB;
    /* background-image: url(background.svg);
    background-size: cover;
    
    background-repeat: no-repeat; */
}

.list{
    display: flex;
    justify-content: center;
}


.website{
    border-radius: 40px;;
    width: 280px;
    height: 320px;
    background-color: #DBDFAA;
}

.ws_container{
    display: grid;
    /* grid-template-rows: 35% 40% 35%; */
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 5% 90% 5%;
    /* row-gap: 3px; */
    grid-template-areas:
        ". title ."
        ". pic ."
        ". guide .";
        /* ". introduce link."; */
    position: absolute;
    
}


.title{
    grid-area: title;
    font-family: 'PT Serif', serif;
    text-align: center;
    letter-spacing: 2px;
    color: #557A46;
     
    border: 1px solid;

    
}

img{
    /* border: 5px solid white; */
    grid-area: pic;
    width: 230px;
    height: 170px;
    border-radius: 15px;
    /* 置中 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);

}

.introduce{
    grid-area: introduce;
    

}

.link{
    grid-area: link;
    /* background-color: #9EB384;
    border-radius: 15px; */
    /* text-decoration: none; */

}
.link:hover{
    color: #243D25;
    background-color: #B9B4C7;
    border-radius: 15px;
}
.bw{
    /* margin: 10px; */
    width: 100px;
    height: 50px;

}
/* .guide{
   
    font-size: 140%;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    line-height: 1.5; 
    color: #83764F;
    color: #E8FFCE;
  
} */

.guide{
    grid-area: guide;
    display: flex;
    justify-content: space-around;
    align-content: center;
    /* display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-areas:
        "introduce link";
    column-gap: 5px; */
 
}
